body{
    margin: 0;
    padding: 0;
    font-family: "COmic Sans MS";
  }
  
  header{
    position: fixed;
    background: #22242A;
    margin-top: -20px;
    padding: 20px;
    width: 100%;
    height: 30px;
  }
  
  .left_area h3{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
  }
  
  .left_area span{
    color: purple;
  }
  
  .logout_btn{
    padding: 5px;
    /*background: #e26f03;*/
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
  }
  
  .logout_btn:hover{
    /*background: purple;*/
    color: purple;
  }
  
  .sidebar {
    background: #2f323a;
    margin-top: 50px;
    padding-top: 40px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
  }
  
  .sidebar .profile_image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 30px;
  }
  
  .sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 45px;
    /*padding-top: -50px;*/
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }
  
  .sidebar a:hover{
    color: purple;
  }
  
  .sidebar a:focus{
    color: purple;
  }
  
  .sidebar i{
    padding-right: 10px;
  }
  
  label #sidebar_btn{
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 210px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
  }
  
  label #sidebar_btn:hover{
    color: purple;
  }
  
  #check:checked ~ .sidebar{
    left: -190px;
  }
  
  #check:checked ~ .sidebar a span{
    display: none;
  }
  
  #check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
  }
  
  #check:checked ~ .sidebar .open-button i{
    font-size: 20px;
    margin-left:200px;
    width: 80px;
    /*line-height: px;*/
  }

  #check:checked ~ .sidebar .openbutton i{
    font-size: 20px;
    margin-left:200px;
    width: 80px;
    padding-top: 10px;
    /*line-height: px;*/
  }
  
  .content{
    margin-left: 250px;
    background: url(neural2.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
  }
  
  #check:checked ~ .content{
    margin-left: 60px;
  }
  
  #check{
    display: none;
  }

  #aboutMe{
    margin-top: -10px;

  }

  #lastupload {
    margin-top: -20px;
    font-size: 15px;
    font-weight: 100;
  }
  
  #numberofrecords{
    margin-top: -20px;
    font-size: 15px;
    font-weight: 100;

  }

  /*table, th, td {
    margin-top: -60px;
    margin-left: 140px;
    padding: 0 25px 0 10px;
    /*margin: 5px 0 22px 0;*/
    /*border: none;
    background: #f1f1f1;
    border-radius: 6px;
  }*/


  /*BUTTON*/

  .openbutton{
    background-color: #2f323a;
    font-family: "Comic Sans MS";
    font-size: 0.43cm;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    padding-bottom: 30px;
    padding-top: 20px;
    transition-property: background;
    width: 100%;
    margin-left: -20px;

  }


  
  /* Button used to open the contact form - fixed at the bottom of the page */
  .open-button {
    background-color: #2f323a;
    font-family: "Comic Sans MS";
    font-size: 0.43cm;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    transition-property: background;
    line-height: 20px;
    text-decoration: none;
    margin-left: -20px;
    box-sizing: border-box;
    display: block;
    width: 100%;
  }

  
  /* Add some hover effects to buttons */
  .open-button:hover {
    color:purple;
  }

  .openbutton:hover {
    color:purple;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    top: 60%;
    left: 72%;
    transform: translate(-50%, -73%);
    width: 50%;
    opacity: 80%;
  }

  /* όλη η φόρμα χωρις αυτο εμφανίζεται παντα οχι οταν παταω το κουμπι*/
  /* πεταγονται τα γράμματα ουσιαστικά??*/
  .form-popup2 {
    display: none;
    position: fixed;
    margin-right: 20px;
    top: 20%;
    left: 20%;
    max-width: 90%;
    opacity: 80%;
    color: black;

    background-color: white;
    border-radius: 6px;
    /*margin-left: 700px;*/
    /*opacity: 80%;
    border-radius: 6px;*/
    /*max-width: 73%;*/
    /*margin-top: -350px;
    margin-left: -100px;*/
    /*padding-bottom: 10px;*/
   
  }
  
  .form-popup2 input{
    background: #f1f1f1;
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    outline: none;
    
  }

  .form-popup2 input:focus{
    background-color: #ddd;
    outline: none;
  }


  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
    border-radius: 6px;
  }
  
  /* Full-width input fields */
  /*.form-container input[type=text], .form-container input[type=password] {
    width: 270px;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }*/
  
  /* When the inputs get focus, do something */
 /* .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }*/
  
  /*style for the upload button */
  .form-container .btn {
    background-color: purple;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    margin-bottom:10px;
  }
  
  /*style for cancel button */
  .form-container .cancel {
    background-color:black;
  }
  
  .form-container .btn:hover {
    color:black;
  }
  
  .form-container .cancel:hover {
    color:purple;
  }

  .echotable th{
 
    font-weight: normal ;
    background-color: white;
    opacity: 80%;
    color: black;
    margin-left: 5px;
    padding-right: 20px;
  }

  .echotable2 th{

    font-weight: normal ;
    background-color: white;
    opacity: 80%;
    color: black; 
    padding-right: 20px;
  }


  /* */


  /*.form-container2{
    background-color: white;
    opacity: 80%;
    border-radius: 6px;
    max-width: 73%;
    margin-top: -350px;
    margin-left: -100px;
    padding-bottom: 10px;
   
  }
  
  .form-container2 input[type=text], .form-container2 input[type=password]{
    background: #f1f1f1;
    max-width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    outline: none;
    
  }
  .form-container2 input:focus{
    background-color: #ddd;
    outline: none;
  }*/

  /* */

  
  /* h6 Οι επικεφαλίδες για κάθε section πληροφοριών */
  .heading-small {
    font-size: 10px;
    padding-top: 10px;
    /*padding-bottom: 5px;*/
    margin-left: 10px;
    letter-spacing: .04em;
    text-transform: uppercase;
  }

  .column {
    float: left;
    width: 40%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  #submitbut{
    background-color:#d8d5d5;
    color:black;
    border: none;
    border-radius: 6px;
    padding: 10px 45px 10px 45px;
    cursor: pointer;
    margin-left: 200px;
    margin-top: 10px;
    width: 50%;
  }

  
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }

    .form-popup2{
      /*margin-top: 50px;*/
      padding-right: 10px;
      max-width: 100%;
      /*transform: translate(-10%,-50%);*/
      /*margin-left: 100px;*/
      
    }
    .form-popup2 input{
      width: 80%;
    }

    #submitbut{
      margin-left: 10px;
      width: 90%;
    }

  }

